
/* Login box Design */
.login-box{
	background-color: #091A2F;
	box-sizing: border-box;
	border-radius: 10px;
	margin: 100px auto 50px;
	padding: 25px;
	width: 400px;
	height: 570px;
}
.login-box h2{
	text-align: center;
	color: #fff;
	font-size: 32px;
	padding: 20px;
}
.form-box{
	margin-bottom: 20px;
	color: #fff;
}
.form-box label{
	display: block;
	padding: 5px;
	font-size: 18px;
	font-weight: 700;
}

.form-box .form-input{
	width: 95%;
	height: 30px;
	border: 0;
	border-bottom: 2px solid #F6D5E5;
	padding: 5px 10px;
	font-size: 16px;
	outline: none;
}
.forget-password{
	color: #fff;
	display: block;
	text-align: right;
	font-weight: 700;
	text-decoration: none;
}
.login-btn{
	width: 100%;
	height: 40px;
	border-radius: 25px;
	border: none;
	color: #091A2F;
	font-size: 18px;
	font-weight: 700;
	margin: 30px 0;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	
}
.login-box p{
	color: #fff;
	text-align: center;
	padding: 25px 0 20px;
}
